[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
django-bootstrap5 = "*"
gunicorn = "*"
django-filter = "*"
pillow = "*"
psycopg2 = "*"
pip = "*"
install = "*"
psycopg2-binary = "*"
whitenoise = "*"
botocore = "*"

[dev-packages]
pip = "*"
django-browser-reload = "*"

[requires]
python_version = "3.10"
