.manager-title {
    margin-bottom: 2rem;
}

button:focus {
    border: none;
    box-shadow: none;
    background-color: red;
}

button:active {
    border: none;
    box-shadow: none;
}

hr {
    margin: 2rem 0;
    border-color: whitesmoke;
    opacity: 0.5;
}

.paginator-table {
    margin-top: 30px;
}

.paginator-table li a {
    color: var(--dark-0-8);
}

.manager-users-table {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    padding: 40px;
    margin-top: 3rem;
    border-radius: 10px
}

.manager-users-table table {
    text-align: center;
    vertical-align: middle;;
 }

.checkbox-th input:checked {
    background-color: var(--primary-color);
}

.active svg {
    fill: var(--primary-color);
}

.not-active svg {
    fill: var(--primary-danger-color);
}

.manage-tool {
    padding: 0.5rem ;
    text-align: center;
    color: var(--main-light-color);
}

.manage-tool:hover {
    color: var(--primary-color);
    transition: 0.2s;
}

.manager-users-table table thead th {
   background-color: yellowgreen;
   color: rgba(0, 0, 0, 0.8);
}

/* Table Tools Section */

.table-tools {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.search-tool {
    background-color: none;
}

.search-tool form {
    display: flex;
    height: 100%;
}

.search-tool form input {
    border-radius: 5px 0px 0px 5px;
    margin: 0;
    border: 1px solid whitesmoke;
    border-right: none;
    outline: none;
    padding: 0 1rem 0 1rem;
    color: rgb(0, 0, 0, 0.8);
    font-size: 1rem;
}

.search-tool form button {
    fill: rgb(0, 0, 0, 0.8);
    background-color: yellowgreen;
    border-radius: 0px 5px 5px 0px;
    border: none;
    padding: 0 0.9rem;
    color: rgb(0, 0, 0, 0.8);
}

.search-tool form button:hover {
    background-color: rgb(111, 165, 3);
    transition: 0.2s;
    fill: whitesmoke;
    color: whitesmoke;
}

.user-management-buttons {
    display: flex;
    gap: 1rem;
    width: 40%;
}

.user-management-buttons a {
    flex: 1;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.3rem 1rem    ;
    white-space: nowrap;
    align-items: center;
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    color: var(--dark-0-8);
}

.user-management-buttons a:first-child {
    background-color: rgb(50, 97, 205);
    color: whitesmoke;
}

.user-management-buttons a:first-child:hover {
    background-color: rgb(46, 83, 170);
    transition: 0.3s;
}

.user-management-buttons a:hover {
    background-color: rgb(111, 165, 3);
    color: whitesmoke;
    transition: 0.3s;
}

.bool-filters button {
    background-color: rgb(50, 97, 205);
    border-radius: 5px;
    border: none;
    padding: 0.3rem 1rem;
    display: flex;
    gap: 0.6rem;
    color: var(--primary-light-color);
    text-decoration: none;
}

.bool-filters button:hover {
    background-color: rgb(46, 83, 170);
    transition: 0.3s;
}

.bool-filters form {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;    
    align-items: center;
}

.bool-filters form div {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    gap: 5px;
}


/* End Table Tooks Section */


.paginator-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-link {
    border-color: var(--dark-0-8);
}

.curr-page .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--dark-0-8);
}

.curr-page .page-link:hover {
    border-color: var(--primary-color);
}

.page-link:hover {
    border-color: var(--dark-0-8);
    color: var(--dark-0-8);
}

.paginator-nav .disabled .page-link {
    opacity: 0.7;
    border-color: var(--dark-0-8);
    color: var(--dark-0-8);
}
