.container-update-user-form {
    display: block;
    width: 60%;
    background-color: var(--dark-0-7);
    color: var(--main-light-color);
    padding: 40px;
    border-radius: 10px;
    margin-top: 3rem;
}

.full-name {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem
}

.full-name #firstName, #lastName {
    display: inline-block;
    flex: 1;
}

.checkouts {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.container-profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.container-profile-pic img {
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
}


/* Error Messages */

.invalid-feedback {
    display: inline-block;
    margin-top: 0.5rem;
    color: rgb(255, 58, 58);
    font-size: medium;
}

/* End Error Messages */

.profile-form .first-section, .address-section {
    display: flex;
    gap: 1rem;
}


.profile-form .first-section .mb-3{
    flex: 1;
}

.profile-form .address-section .mb-3 {
    flex: 1;
}

.profile-form .address-section .mb-3:first-child {
    flex: 2;
}
